@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Login">
            <div class="p-3 mt-3 bg-dark">
                <div class="row pb-2">
                    <h2 class="text-primary">Login</h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


