@model RegistrationModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4 ">
        <form method="post" asp-action="Register">
            <div class="p-4 mt-3 bg-dark">
                <div class="row pb-2">
                    <h2 class="text-primary">Register</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="width:150px">Register</button>
                        <p>Already have an Account?</p>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Login</a>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>


